body{
            background-color: #0015f797;
            color: rgb(0, 0, 0);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        input{
            background-color: rgb(77, 241, 236);
        }
        .btn{
            text-transform: uppercase;
            padding: 5px 10px;
            margin: 10px 5px;
            border-radius: 50px;
        }
        .btn:hover{
            cursor: pointer;
            background-color: aqua;
            color: black;
            font-weight: 700;
        }
        .kirim{
            background-color: #00812f;
            color: bisque ;
        }
        .reset{
            background-color: #ed1818;
            color: bisque;
        }
        .klik{
            background-color: #00812f;
            color: bisque;
        }